body {
  padding-top: 10px;
}
h3 {
  margin-bottom: 0;
}
.price {
  font-size: 20px;
  font-weight: bold;
}
.cta {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: right;
  line-height: 24px;
  font-size: 24px;
}
.cta, #save {
  display: none;
}
.ui.segment {
  box-shadow:none;
  border: 1px solid #fff;
  padding-bottom: 64px;
}
.ui.segment:hover {
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  border: 1px solid rgba(34,36,38,.15);
  padding-bottom: 0;
}
.ui.segment:hover > .cta {
  display: block;
}
.ui.fixed.menu {
  top: unset;
  bottom: 0;
}
.ui.fixed.menu .item {
  margin: 0 auto;
  width: 100%;
}
.ui.menu .item:before {
  width: 0;
}
.save-text {
  margin: 0 auto;
}