<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Deindeal</title>
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="ui three column equal height stackable grid container products" id="items">
      <div class="ui active inverted dimmer">
        <div class="ui text loader">Loading</div>
      </div>
    </div>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/mustache.min.js"></script>
    <script src="js/underscore.min.js"></script>
    <script src="js/semantic.min.js"></script>
    <script src="js/sortable.min.js"></script>
    <script>
      $.getJSON( "http://brands.deindeal.ch/de/search.json?categories[]=776", function( data ) {
        var feed = {};

        //if not all results have an anchorPrice
        if(data.results.length > _.without(_.pluck(data.results, 'anchorPrice'), undefined).length) {
          //sort by availableQuantity
          feed = {results: _.sortBy(data.results, 'availableQuantity')};
        }
        else {
          //sort by anchorPrice
          feed = {results: _.sortBy(data.results, 'anchorPrice')};
        }
        //initial order of products
        var initial = _.map(feed.results, function(num, key){ return {id: num.id, position:key}; });
        var template = "{{#results}} <div class='column'><div class='ui segment'><img src='http:{{images.cover}}' style='width:100%;'><h3>{{formatted.title}}</h3>{{formatted.secondaryTitle}}<br><strike>{{anchorPrice}}</strike>&nbsp; <span class='price'>CHF {{masterVariant.price}}</span><br><div class='cta'><i class='heart icon'></i><i class='shop icon'></i></div></div></div> {{/results}}";
        var html = Mustache.to_html(template, feed);
        $('.products').html(html);

        //add ability to sort products by drag-and-drop
        var el = document.getElementById('items');
        var sortable = new Sortable(el, {
          animation: 250,
          onUpdate: function (/**Event*/evt) {
            $('#save').show("slow");
          },
          onEnd: function (/**Event*/evt) {
            var moved = initial[evt.oldIndex].id;
            initial[evt.oldIndex].id = initial[evt.newIndex].id;
            initial[evt.newIndex].id = moved;
          },
        });
        $('#save-changes').click(function (){
          //send modified product order
          $.ajax('http://deindeal.ch/api/public/v1/data/categories/brands/collections/save-positions', {
            data : JSON.stringify(initial),
            contentType : 'application/json',
            type : 'POST'});
          //show success message
          $('.ui.basic.modal').modal('show');
        });
      });
    </script>
    <div id="save" class="ui inverted menu fixed">
      <a class="ui center aligned item" id="save-changes">
        <div class="save-text">
          <i class="save icon"></i>
          Save changes
        </div>
      </a>
    </div>

    <div class="ui basic modal">
      <i class="close icon"></i>
      <div class="header">
        <i class="check icon"></i>
        The display order for the products has been successfully changed!
      </div>
    </div>
  </body>
</html>